openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: Deskripsi API
  termsOfService: https://github.com/jscroot/examples/tree/main/api/swagger
  contact:
    email: test@gmail.com
  license:
    name: Peda Package
    url: https://pkg.go.dev/github.com/petapedia/peda
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://petapedia.github.io/gcf/
servers:
  - url: https://us-central1-ordinal-stone-389604.cloudfunctions.net  # Sesuaikan URL dengan URL Cloud Function Anda
tags:
  - name: auth
    description: Auth to Access to API
paths:
  /petapedia-post:
    post:
      tags:
        - auth
      summary: Login and Get User Token
      operationId: authService
      requestBody:
        description: Request Authentication
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
components:
  schemas:
    Auth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
        message:
          type: string
        token:
          type: string
security:
  - token: []  # Sesuaikan dengan skema keamanan yang digunakan dalam Cloud Function Anda
